.header {
    background-color: rgb(54,56,59);
    width: 100%;
    height: 65px;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
}

.modify-button {
    display: table;
    position: absolute;
    height: 100%;
    background-color: transparent;
    border: transparent;
    border-right: 1px solid white;
    border-radius: 0px;
    font-size: 1.5em;
    color: white;
}

.modify-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
}