.modal-bg {
    position: fixed;
    z-index: 2000;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow:auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal {
    position: absolute;
    width: 60%;
    padding: 20px;
    border-radius: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    color: #45464a;
}

form {
    margin: 0 auto;
}

.form-body {
    margin: 0 auto;
    padding: .5em;
    margin-bottom: 10px;
}

.sumbit {
    margin-left: .5em;
}

.form-title {
    font-size: 2em;
    margin-bottom: 10px;
}

input, label, select {
    display: block;
}
input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: rgb(243,243,244);
    border: 2px solid transparent;
    border-radius: 4px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus, select:focus {
    outline: none;
}

button {
    background-color: #45464a;
    color: rgb(243,243,244);
    border: 0px;
    border-radius: 4px;
    padding: 5px 10px;
}

button:hover {
    cursor: pointer;
}

input#error{
    border: 2px solid rgb(212, 64, 64);
    background-color: rgb(248, 219, 219);
}

input#no-error{
    border: 2px solid rgb(64, 212, 86);
    /*background-color: rgb(248, 219, 219);*/
}

p {
    margin-top: 0px;
    font-size: 12px;
    color: transparent;
}

p#error {
    color: rgb(212, 64, 64);
}

.form-error {
    height: 100%;
    padding: 10px;
}

.form-error p {
    color: rgb(212, 64, 64);
    margin-top: 0px;
}