.resort {
    color: #45464a;
    border: 3px black solid;
    margin: 3px auto;
    border-radius: 12px;
    display: block;
    text-align: center;
    width: 55%;
    align-items: center;
}

.resort-data span {
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
}

.resort-header {
    text-align: center;
}

img {
    vertical-align: middle;
    max-width: 45px;
}

span {
    vertical-align: middle;
}

.resort-text {
    font-size: 2em;
}

h1 {
    padding: 0px;
    margin: 5px;
}